<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            padding-left: 20px;
            padding-right: 20px;

            margin-bottom: 9px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            flex-wrap: wrap;
        }
        h1{
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Welcome to Library Management Platform</h1>
    <header>
        <h2>Routes :-</h2>
        <h3>/login</h3>
        <h3>/registration</h3>
        <!-- <h3>/dashboard</h3> -->
    </header>


</body>

</html>