<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .section {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .login-form {

            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-form>form {
            display: flex;
            flex-direction: column;
        }

        .section>h4 {
            text-align: center;
            margin: 6rem 0;

        }

        .login-form>form>input {
            /* max-width: 25rem; */
            height: 3rem;
            margin-bottom: 1.25rem;
            border: 1px solid black;
            border-radius: 0.2rem;
            padding-left: 1rem;
        }

        .login-form>form>button {
            max-width: 100%;
            height: 3.2rem;
            background-color: black;
            color: white;
        }

        .login-form>form>span {
            margin-top: 1rem;
            font-size: 1rem;
            /* margin-left: 1.8rem; */

            color: black;
        }

        .login-form>form>span>a {
            color: black;
        }

        h4 {
            text-align: center;
        }

        @media screen and (max-width: 488px) {

            form {
                font-size: 12px;
                width: 90%;
            }


        }

        @media screen and (max-width: 768px) {

            form {
                font-size: 24px;
                width: 70%;

            }

        }

        @media screen and (min-width: 769px) {

            form {
                font-size: 34px !important;
                width: 60%;
            }

            /* input {
                max-width: 25rem;
            } */


        }

        .login_btn_wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

        }

        #reg_btn,
        #rest_pass_btn {
            width: 120px !important;
            height: 3.25rem !important;
            margin: 0.5rem;
        }
    </style>
</head>

<body>
    <section>
        <h4>Reset Password</h4>
        <div class="login-form">
            <form action='/updatepassword' method="POST">
                <label for="loginId">Email </label>
                <input type="text" placeholder="Enter Email or Username" name="loginId" required>
                <label for="password">New Process: </label>
                <input type="password" placeholder="New Password  " name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </section>
</body>

</html>